

/* //THESE ARE FOR THE CIRCLES  */
.inv-box {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
}

  .link {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    font: 300 1.55rem/1.4 "Josefin Sans";
    text-transform: uppercase;
    letter-spacing: 0.1175em;
    word-spacing: 0.3em;
    text-decoration: none;
    margin: 10px;
  }

  .link__svg {
    width: 100%;
    height: auto;
    transform-box: fill-box;
    display: inline-block;
    fill: #2B3338;
    stroke: #2B3338;
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .link__face, .link__arrow {
    transform-origin: 50% 50%;
    transition: transform 0.15s cubic-bezier(0.32, 0, 0.67, 0);
  }
  .link:hover .link__face, .link:hover .link__arrow {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  }
  .link__arrow {
    stroke-width: 0.075em;
  }
  .link__text {
    -webkit-animation: rotateReverse normal infinite 15s linear;
            animation: rotateReverse normal infinite 15s linear;
    transform-origin: 50% 50%;
  }

  .link__text-2 {
    -webkit-animation: rotate normal infinite 28s linear;
            animation: rotate normal infinite 28s linear;
    transform-origin: 50% 50%;
  }
  .link:hover .link__text {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }

  .link:hover .link__text-2 {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }

  .link--alt {
    font-size: 1.15rem;
    letter-spacing: 0;
    word-spacing: 0;
  }

  @-webkit-keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
  }
  @keyframes rotateReverse {
    to {
      transform: rotate(-360deg);
    }
  }
